body{
	font-family: helvetica;
}
/*TOP NAV BAR*/
nav{
	top: 0 !important;
	position: fixed;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	width: 100%;

}

ul.navigation{
	width: 100%;
	padding-left: 0;
}

.navigation li{
	display: inline-block;

}

.navigation a{
	padding-left: 80px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;

}

.navigation i{
	color: white;
	padding-left: 80px;
	font-size: 17px;
}



/*TOP SECTION*/
div.section{
	text-align: center;
	margin-top: 200px;

}
	
div.s1 h1,
div.s2 h1,
div.s3 h1{
	font-size: 50px;
	font-weight: 400;
}

div.s1 h2,
div.s2 h2,
div.s3 h2{
	font-weight: 400;
}


div.s1 img,
div.s2 img,
div.s3 img{
	width: 100%;
	height: 630px;


}
/*MIDDLE SECTION*/
div.middle{
	text-align: center;
	margin-top: 10px;

}

div.m1 h1,
div.m2 h1,
div.m3 h1,
div.m4 h1,
div.m5 h1,
div.m6 h1{
	font-size: 32px;
	
	font-weight: bold;
}

div.m1 p,
div.m2 p,
div.m3 p,
div.m4 p,
div.m5 p,
div.m6 p{
	
	font-size: 19px;
}

div.m4 h1{
	font-size: 28px;
	font-weight: bold;

}



.m1{
	background-image: url(../img/apple_special_event.jpg)
}

.m2{
	background-image: url(../img/appleeducation.png)
}

.m3{
	background-image: url(../img/imac.jpg)
}

.m4{
	background-image: url(../img/applewatch.jpg)
}

.m5{
	background-image: url(../img/homepod.jpg)
}

.m6{
	background-image: url(../img/airpods.png)
}

div.m1,
div.m2,
div.m3,
div.m4,
div.m5,
div.m6{
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 560px;
 	display: inline-block;
 	width: 49%;
 	margin: 0 0;
 	padding: 0 0;
 	border: 6px solid #fff;
 	vertical-align: text-top;


 }

div.m3 h1,div.m3 p{
	color: white;
}

div.m5 h1{
	color: white;
}

span a{
	color: white;
	text-decoration: none;

}

span div.learnmore{
	text-align: bottom;
}

/*FOOTER*/
footer{
	background-color: #f2f2f2;
	margin-top: 10px;
	text-decoration: none;

}

#one a,
#two a,
#three a,
#four a,
#five a{
	font-size: 12px;
	text-decoration: none;
	color: #555;
	font-weight: 330;
}

#one h3,
#two h3,
#three h3,
#four h3,
#five h3{
	font-size: 12px;
	color: #111;
}

#one,
#two,
#three,
#four,
#five {
	display: inline-block;
	padding-top: 25px;

}

#one ul,
#two ul,
#three ul,
#four ul,
#five ul{
	list-style-type: none; 
	margin-left: 100px;
}

footer div{
	vertical-align: top;
}
/*footer section*/
section{
	padding-left: 300px;
	padding-right: 300px;
	font-size: 12px;
	color: #555;
}

div.section1 a{
	text-decoration: none;
}

div.section2 a{
	text-decoration: none;
	padding: 10px;
	padding-top: 0;
	padding-left: 0;
	display: inline-block;
}

span.usa{
	padding-left: 80px;
}

img.usa{
	width: 20px;
	height: 18px;
	position: absolute;
	left: 1015px;
	padding-top: 10px;

}



